/* test */

/* fine test */


/* container principale */
.container-fluid.my_container{
    height: calc(100vh - 58px);
} 
/* fine container principale */


/* nav */
.my_nav{
    height: 58px;

    background-color: #F8F9FA;
}
/* fine nav */

/* sezione aside */
.container-fluid aside{
    /* height: 100%; */
    /* test */
    
    width: 150px;
    min-width: 150px;

    background-image: url('../img/sidebar-bg.png');
    background-color: #0F263C;
}
/* sezione aside */


/* sezione main */
.container-fluid main{
    width: calc(100% - 150px);

    /* overflow-x: hidden; */
}
/* fine sezione main */


/* sezione main header */
header .row [class*="col"] .breadcrumb{
    --bs-breadcrumb-divider: none;
}

header .row [class*="col"] .breadcrumb a{
    background-color: #165BBA;
}

header .row [class*="col"] .breadcrumb .breadcrumb-item.my_bc_item{
    background-color: #165BBA;
}
/* fine sezione main header */


/* sezione main main-section */
#main-section .table .my_btn{
    width: 35px;
    height: 35px;
}
/* fine sezione main main-section */






/* SOLUZIONI RESPONSIVE */

/* soluzione table */
@media screen and (max-width: 991px) {

    .container-fluid aside{
        align-items: center;

        width: 68px;
        min-width: 68px;
    }

    .container-fluid main{
        width: calc(100% -  68px);
    }

}